html
{
	--light-gray: #D6D6D6;
	--dark-gray: #999999;
	--darker-gray: #646464;
	--text-color: #141414;
	--accent-color: #6666aa;
	--button-color: #EFEFEF;
	--disabled-color: #CFCFCF;
	--highlight-color: #5b5bff;
	--highlight-outline: rgba(91, 91, 255, 0.8);
	/* font-size: 16px; */
}

body
{
	display: grid;
	grid-template:
		"header header" auto
		"sidebar main" 1fr
		/ auto 1fr;
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	
	line-height: 1;
	font-family: 'Noto Sans', Roboto, 'Open Sans', sans-serif;
	color: var(--text-color);
	background-color: var(--dark-gray);
}

	/* !!! Чтобы overflow-y элемент не ломал grid-сетку */
	body > *
	{
		min-height: 0;
	}


/* шапка */

header
{
	grid-area: header;
	
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	overflow: hidden;
	column-gap: 1rem;
	padding: 1rem;
	border-bottom: 1px solid var(--darker-gray);	
	font-size: 1rem;
	background: var(--light-gray);

	user-select: none;
}

h1
{
	margin: 0 0.5rem;
	line-height: 2rem;
	
	font-size: 1.25rem;
	text-align: center;
	color: var(--darker-gray);
}

.horizontal-menu
{
	flex-grow: 1;
	column-gap: 1rem;
}


/* общие классы */

.row
{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	row-gap: 0.5rem;
}

.column
{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

h2
{
	font-size: 1.25rem;
	color: var(--accent-color); 
}

.title
{
	font-weight: bold;
	color: var(--darker-gray);
}

.modal
{
	display: none;
	position: fixed;
	z-index: 100;
	align-self: center;
	margin: 1rem;
	padding: 1.5rem 2rem 2rem 2rem;
	border-radius: 5px;
	border: 1px solid var(--darker-gray);
	background: var(--light-gray);
}

.none-list
{
	list-style: none;
	margin: 0;
	padding-left: 0; 
}

.none-radio
{
	appearance: none;
	position: absolute;
	width: 0;
}


/* панели инструментов */

.size-dialog 
{
	top: calc( 50% - 6.25rem );
	min-width: 12rem;
}

	.size-dialog .column
	{
		row-gap: 1rem;
	}

	.size-dialog h2
	{
		margin: 0;
	}

	.size-dialog p
	{
		margin: 0;
		line-height: 1.5;
	}
	
	.size-dialog label
	{
		font-size: 1.25rem;
		color: var(--darker-gray);
	}

	.size-dialog .field
	{
		width: 4rem;
	}

	.size-dialog .button
	{
		width: 3.75rem;
	}

	.size-dialog .row
	{
		column-gap: 0.75rem;
	}

.sidebar
{
	grid-area: sidebar;
	width: 20rem;
	border-right: 1px solid var(--darker-gray);
	background: var(--light-gray);
}

.zoombar
{
	flex-shrink: 1;
	column-gap: 0.5rem;
	padding: 1rem 1.5rem;
	border-top: 1px solid #aaaaaa;
}

	.zoombar label
	{
		margin-right: 0.5rem;
	}

	.zoombar .field
	{
		width: 3.25rem;
	}

	.zoombar .button
	{
		padding: 0 0.5rem;
	}

.toolbar
{
	flex-grow: 1;
	overflow-y: auto;
}

	.toolbar > li
	{
		border-bottom: 1px solid #aaaaaa;
	}

.settings
{
	display: none;
	row-gap: 1.0rem;
	column-gap: 0.5rem;
	padding: 0.25rem 1.5rem 1.5rem 1.5rem;
}

	.settings .row
	{
		column-gap: 0.75rem;
	}

	.settings .field
	{
		width: 4rem;
	}

	.settings p
	{
		margin: 0;
		line-height: 1.5;
	}


/* инструменты */

.tool
{	
	display: flex;
	align-items: center;
	column-gap: 1rem;

	border: 2px solid transparent;
	padding: 0.75rem 1.25rem;
	margin: 0;

	font-size: 1.125rem;
	color: var(--darker-gray);
	background-color: transparent;
	cursor: pointer;
}

.tool__icon
{
	width: 1.75rem;
	height: 1.75rem;
	fill: currentColor;
}

.tool:hover
{	
	background-color: var(--button-color);
}

.none-radio:checked + .tool
{
	font-weight: bold;
	color: var(--accent-color);
	/* background-color: transparent; */
	pointer-events: none;
}

.none-radio:focus-visible + .tool
{
	border: 2px solid var(--highlight-color);
}


/* выбор цвета */

.palette_two
{
	display: grid;
	grid-template-columns: repeat( 2, minmax(6rem, 1fr) );
	gap: 1rem;
}

.palette_three
{
	display: grid;
	grid-template-columns: repeat( 3, minmax(4rem, 1fr) );
	gap: 0.5rem;
}

.color
{	
	display: block;
	padding: 4px;
	cursor: pointer; 
}

.color__icon
{
	display: block;
	box-sizing: border-box;
	border: 6px solid var(--button-color);
	width: 100%;
	height: 100%;
}

.color:hover
{	
	background-color: var(--button-color);
}

.none-radio:checked + .color
{
	font-weight: bold;
	color: var(--accent-color);
	pointer-events: none;
	border: 2px solid var(--highlight-color);
}

.none-radio:checked + .color > .color__icon
{
	border: 8px solid transparent;
}

.none-radio:focus-visible + .color
{
	outline: 2px solid var(--highlight-color);
}


/* основное содержимое */

.scrollable
{
	overflow: auto;
}

main
{
	grid-area: main;
	display: flex;
	flex-direction: column;
	align-items: center;
}

	main > .clickable
	{
		display: none;
		margin: auto;
		padding: 50vh 50vw;
	}

.content-container
{
	background-color: var(--dark-gray);
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

#drawing-canvas
{
	display: block;
}


/* кнопки */

.button
{
	appearance: none;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 0.5rem;;
	box-sizing: content-box;
	border: 2px solid transparent;
	border-radius: 5px;
	padding: 0 0.75rem;
	height: 2rem;
	

	font-size: 1rem;
	color: var(--text-color);
	background-color: var(--button-color);
	font-family: inherit;
	text-align: left;

	user-select: none;
	cursor: pointer;
}

.button:hover
{
	color: white;
	background-color: var(--highlight-color);
}

.button:active
{
	color: white;
	background-color: #4d4ddb;
}

.button:focus-visible
{
	outline: 0;
	border: 2px solid var(--highlight-outline);
}

.button[disabled],
.button:disabled
{
	color: var(--dark-gray);
	background-color: var(--disabled-color);
	pointer-events: none;
}

.button_close:hover:not([disabled])
{
	background-color: #962c2c;
}

.button_close:active:not([disabled])
{
	background-color: #803030;
}

.button_close:focus-visible
{
	outline: 0;
	border: 2px solid rgba(150, 44, 44, 0.8);
}

.button__icon
{
	width: 1.25rem;
	height: 1.25rem;
	fill: currentColor;
}


/* различные поля ввода */

.field
{
	appearance: none;
	box-sizing: content-box;

	border: 2px solid transparent;
	border-radius: 5px;
	padding: 0rem 0.5rem;
	height: 2rem;
	
	line-height: 1rem;
	
	font-size: 1rem;
	color: black;
	background-color: white;
	opacity: 1;
	font-family: inherit;
}

.field:focus
{
	outline: 0;
	border: 2px solid var(--highlight-outline);
}

.field:active:not([disabled])
{
	border: 2px solid var(--highlight-color);
}

.field:disabled
{
	opacity: 0.6;
	pointer-events: none;
}

select.field
{
	cursor: pointer;
}


/* отображение при маленькой ширине экрана */

@media screen and (max-width: 1020px)
{
	.horizontal-menu .button__text
	{
		display: none;
	}
}

@media screen and (min-width: 680px) and (max-width: 1020px)
{
	.horizontal-menu .button:hover:not([disabled]) .button__text
	{
		display: block;
	}
}

@media screen and (max-width: 570px)
{
	h1
	{
		font-size: 0;
		padding: 0;
		margin: 0;
	}
}