html
{
	--light-gray: #D6D6D6;
	--dark-gray: #999999;
	--darker-gray: #646464;
	--text-color: #141414;
	--accent-color: #6666aa;
	--button-color: #EFEFEF;
	--disabled-color: #CFCFCF;
	--highlight-color: #5b5bff;
	--highlight-outline: rgba(91, 91, 255, 0.8);
	/* font-size: 16px; */
}

body
{
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	line-height: 1;
	font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: var(--text-color);
	background-color: var(--dark-gray);
}


/* шапка */

header
{
	flex-shrink: 0;
	
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	overflow: hidden;
	column-gap: 1rem;
	padding: 1rem;
	border-bottom: 1px solid var(--darker-gray);	
	font-size: 1rem;
	background: var(--light-gray);

	user-select: none;
}

h1
{
	margin: 0 0.5rem;
	line-height: 2rem;
	
	font-size: 1.25rem;
	font-weight: normal;
	text-align: center;

	padding-right: 1rem;
	border-right: 1px solid var(--accent-color);
	color: var(--accent-color); 
}


/* меню и панели инструментов */

.horizontal-menu
{
	flex-grow: 1;
	column-gap: 1rem;
}

.zoombar
{
	flex-shrink: 1;
	justify-content: center;
	column-gap: 0.5rem;
}

.sizebar 
{
	row-gap: 0.75rem;
}

	.sizebar label
	{
		font-size: 1.25rem;
		color: var(--darker-gray);
	}

	.sizebar .row
	{
		column-gap: 0.75rem;
	}


/* общие классы */

.row
{
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
}

.column
{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.modal
{
	display: none;
	position: absolute;
	padding: 1.5rem;
	border-radius: 5px;
	border: 1px solid var(--darker-gray);
	background: var(--light-gray);
}

.none-list
{
	list-style: none;
	margin: 0;
	padding-left: 0; 
}


/* кнопки */

.button
{
	appearance: none;
	text-decoration: none;
	
	display: flex;
	align-items: center;
	column-gap: 0.625rem;;

	border: 2px solid transparent;
	border-radius: 5px;
	padding: 0.375rem 0.75rem;
	line-height: 1rem;

	font-size: 1rem;
	color: var(--text-color);
	background-color: var(--button-color);
	font-family: inherit;
	text-align: left;

	user-select: none;
	cursor: pointer;
}

.button:hover
{
	color: white;
	background-color: var(--highlight-color);
}

.button:active
{
	color: white;
	background-color: #4d4ddb;
	border-color: transparent;
}

.button:focus
{
	outline: 0;
	border: 2px solid var(--highlight-outline);
}

.button[disabled],
.button:disabled
{
	color: var(--dark-gray);
	background-color: var(--disabled-color);
	cursor: default;
}

.button_close:hover:not([disabled]),
.button_close:active:not([disabled])
{
	background-color: #962c2c;
}

.button_close:focus
{
	outline: 0;
	border: 2px solid rgba(150, 44, 44, 0.8);
}

.button__icon
{
	width: 1rem;
	height: 1rem;
	fill: currentColor;
}


/* различные поля ввода */

.field
{
	appearance: none;
	border: 2px solid transparent;
	box-sizing: content-box;
	border-radius: 5px;
	padding: 0 0.5rem;
	height: 1.75rem;
	line-height: 1rem;
	
	font-size: 1rem;
	color: black;
	background-color: white;
	opacity: 1;
	font-family: inherit;
}

.field:focus
{
	outline: 0;
	border: 2px solid var(--highlight-outline);
}

.field:active:not([disabled])
{
	border: 2px solid var(--highlight-color);
}

.field:disabled
{
	opacity: 0.7;
	cursor: default;
}

.select
{
	cursor: pointer;
	width: 3rem;
}

.input-number
{
	width: 4rem;
}


/* основное содержимое */

main
{
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: auto;
}

.container
{
	background-color: var(--dark-gray);
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

#drawing-canvas
{
	display: block;
	/* border: 2px dashed cyan; */
}


/* отображение при маленькой ширине экрана */

@media screen and (max-width: 1160px)
{
	.zoombar
	{
		align-self: flex-start;
	}

	.zoombar label
	{
		display: none;
	}
}

@media screen and (max-width: 1080px)
{
	h1
	{
		font-size: 1.125rem;
	}
	
	.horizontal-menu .button__text
	{
		display: none;
	}
}

@media screen and (min-width: 720px) and (max-width: 1080px)
{
	.horizontal-menu .button:hover:not([disabled]) .button__text
	{
		display: block;
	}
}

@media screen and (max-width: 610px)
{
	h1
	{
		font-size: 0;
		padding: 0;
		margin: 0;
	}
} 